[submodule "deps/wheel-extras"]
	path = deps/wheel-extras
	url = https://github.com/ronchaine/wheel-extras.git
[submodule "deps/wheel"]
	path = deps/wheel
	url = https://github.com/ronchaine/wheel.git
[submodule "deps/lunar"]
	path = deps/lunar
	url = /home/ronchaine/Source/lunar
